<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <title>Contact</title>
</head>

<body>
    <header>
        <nav class="nav" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="/index" class="brand-logo">Home</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/index">About</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="/languages">Technologies</a></li>
                    <li><a href="/hireme">Hire Me</a></li>
                    <li class="active"><a href="/contact">Contact</a></li>
                </ul>

                <ul id="nav-mobile" class="sidenav">
                    <li><a href="/index">About</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="/languages">Technologies</a></li>
                    <li><a href="/hireme">Hire Me</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </header>

    <main>
        <div class="container contact-container">
            <p>Use the form below to send me a message or email me at <a href="mailto:chris.m.hein@gmail.com?Subject=Website%20Email">chris.m.hein@gmail.com</a>.</p>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input placeholder="John" id="first_name" type="text" class="validate">
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input placeholder="Smith" id="last_name" type="text" class="validate">
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">email</i>
                            <input id="email" type="email" class="validate" placeholder="you@youmail.com">
                            <label for="email">Email Address</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea id="text" class="materialize-textarea"
                                placeholder="Write your message here..."></textarea>
                            <label for="text">Message</label>
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                          </button>
                </form>
            </div>
        </div>
    </main>

    <footer class="page-footer footer">
        <div class="container">
            <div class="row">
                <div class="col m6 s12">
                    <p>Want to know more? Feel free to connect with me on LinkedIn.</p>
                </div>
                <div class="col m6 s12">
                    <div class="right LI-profile-badge" data-version="v1" data-size="small" data-locale="en_US"
                        data-type="horizontal" data-theme="dark" data-vanity="heincm"><a class="LI-simple-link"
                            href='https://www.linkedin.com/in/heincm?trk=profile-badge'>Chris
                            Hein</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center">
                © 2019 Chris Hein
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <script type="text/javascript" src="javascript/materialize.js"></script>
    <script type="text/javascript" src="javascript/init.js"></script>
    <script type="text/javascript" src="/javascript/sendmail.js"></script>
</body>

</html>