<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link rel="shortcut icon" href="/images/favicon.png" />
    <title>Hire Me</title>
</head>

<body>

    <header>
        <nav class="nav" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="/index" class="brand-logo">Home</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/index">About</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="/languages">Technologies</a></li>
                    <li class="active"><a href="/hireme">Hire Me</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>

                <ul id="nav-mobile" class="sidenav">
                    <li><a href="/index">About</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="/languages">Technologies</a></li>
                    <li><a href="/hireme">Hire Me</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <h1 class="center-align">Hire Me</h1>
                <div class="col s12 m6">

                    <p>Entry Level Web Developer with a strong professional background an excellent work ethic who is a
                        highly motivated learner. Experienced in creating and displaying database information such as
                        SQL to others in a way that is visually appealing and easy to understand for the past year.
                        Highly skilled in managing multiple projects simultaneously, collaborating with key
                        stakeholders, and providing innovative solutions to complex problems.</p>
                    <p>To learn more about me, check out my <a href="Resume.pdf" target="_blank">resume</a>.</p>

                    <p>You can also connect with me on LinkedIn.</p>
                </div>
                <div class="col s12 m6">
                    <div class="right LI-profile-badge" data-version="v1" data-size="large" data-locale="en_US"
                        data-type="vertical" data-theme="dark" data-vanity="heincm"><a class="LI-simple-link"
                            href='https://www.linkedin.com/in/heincm?trk=profile-badge'>Chris
                            Hein</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="page-footer footer">
        <div class="container">
            <div class="row">
                <div class="col m6 s12">
                    <p>Want to know more? Feel free to connect with me on LinkedIn.</p>
                </div>
                <div class="col m6 s12">
                    <div class="right LI-profile-badge" data-version="v1" data-size="small" data-locale="en_US"
                        data-type="horizontal" data-theme="dark" data-vanity="heincm"><a class="LI-simple-link"
                            href='https://www.linkedin.com/in/heincm?trk=profile-badge'>Chris
                            Hein</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center">
                © 2019 Chris Hein
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <script type="text/javascript" src="/javascript/materialize.js"></script>
    <script type="text/javascript" src="/javascript/init.js"></script>

</body>

</html>