<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link rel="shortcut icon" href="/images/favicon.png" />
    <title>Portfolio</title>
</head>

<body>
    <header>
        <nav class="nav" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="/index" class="brand-logo">Home</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/index">About</a></li>
                    <li class="active"><a href="/portfolio">Portfolio</a></li>
                    <li><a href="/languages">Technologies</a></li>
                    <li><a href="/hireme">Hire Me</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>

                <ul id="nav-mobile" class="sidenav">
                    <li><a href="/index">About</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="/languages">Technologies</a></li>
                    <li><a href="/hireme">Hire Me</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <h1>Coding Projects</h1>
                <p>Check out the projects I've made!</p>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/hangman.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title blue-text text-darken-2">Word Guess Game</span>
                            <p>This is my first project using vanilla Javascript.</p>
                        </div>
                        <div class="card-action">
                            <a href="https://heincm.github.io/Word-Guess-Game/">Click here to view the project</a>
                            <br>
                            <br>
                            <a href="https://github.com/heincm/Word-Guess-Game">Click here to view the Github
                                repository</a>
                        </div>
                        <div class="card-content">
                            <span class="card-title blue-text text-darken-2">Technologies Used</span>
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="HTML5"
                                src="/images/HTML5_Logo_512.png" alt="HTML5">
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="CSS3"
                                src="/images/css3logo.png" alt="CSS3">
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="JavaScript"
                                src="/images/JavaScript-logo.png" alt="JavaScript">
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="Bootstrap"
                                src="/images/bootstrap-solid.svg" alt="BootStrap">
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/Crystal_game.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title blue-text text-darken-2">Crystal Game</span>
                            <p>This project is my first project using jQuery.</p>
                        </div>
                        <div class="card-action">
                            <a href="https://heincm.github.io/crystal-game/">Click here to view the project</a>
                            <br>
                            <br>
                            <a href="https://github.com/heincm/crystal-game">Click here to view the Github
                                repository</a>
                        </div>
                        <div class="card-content">
                            <span class="card-title blue-text text-darken-2">Technologies Used</span>
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="HTML5"
                                src="/images/HTML5_Logo_512.png" alt="HTML5">
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="CSS3"
                                src="/images/css3logo.png" alt="CSS3">
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="jQuery"
                                src="/images/jquery_badge.png" alt="jQuery">
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="Bootstrap"
                                src="/images/bootstrap-solid.svg" alt="BootStrap">
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/GifTastic.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title blue-text text-darken-2">Giftastic</span>
                            <p>This project is my first project using an API and local storage.</p>
                        </div>
                        <div class="card-action">
                            <a href="https://heincm.github.io/GifTastic/">Click here to view the project</a>
                            <br>
                            <br>
                            <a href="https://github.com/heincm/GifTastic">Click here to view the Github repository</a>
                        </div>
                        <div class="card-content">
                            <span class="card-title blue-text text-darken-2">Technologies Used</span>
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="HTML5"
                                src="/images/HTML5_Logo_512.png" alt="HTML5">
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="CSS3"
                                src="/images/css3logo.png" alt="CSS3">
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="jQuery"
                                src="/images/jquery_badge.png" alt="jQuery">
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="Bootstrap"
                                src="/images/bootstrap-solid.svg" alt="BootStrap">
                        </div>
                    </div>
                </div>
                <!-- <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/train.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title blue-text text-darken-2">Train Time</span>
                            <p>This is my first project utilizing the Google Firebase database.</p>
                        </div>
                        <div class="card-action">
                            <a href="https://heincm.github.io/Train-Time/">Click here to view the project</a>
                            <br>
                            <br>
                            <a href="https://github.com/heincm/Train-Time">Click here to view the Github repository</a>
                        </div>
                        <div class="card-content">
                            <span class="card-title blue-text text-darken-2">Technologies Used</span>
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="HTML5"
                                src="/images/HTML5_Logo_512.png" alt="HTML5">
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="CSS3"
                                src="/images/css3logo.png" alt="CSS3">
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="jQuery"
                                src="/images/jquery_badge.png" alt="jQuery">
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="Bootstrap"
                                src="/images/bootstrap-solid.svg" alt="BootStrap">
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="Firebase"
                                src="/images/firebase_badge.png" alt="Firebase">
                        </div>
                    </div>
                </div> -->
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/slice1.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title blue-text text-darken-2">What's Happening?</span>
                            <p>This was a group project utilizing multiple APIs, authentication, geolocation,
                                a database, and local storage.</p>
                        </div>
                        <div class="card-action">
                            <a href="https://heincm.github.io/whats-happenin/">Click here to view the project</a>
                            <br>
                            <br>
                            <a href="https://github.com/heincm/whats-happenin">Click here to view the Github
                                repository</a>
                        </div>
                        <div class="card-content">
                            <span class="card-title blue-text text-darken-2">Technologies Used</span>
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="HTML5"
                                src="/images/HTML5_Logo_512.png" alt="HTML5">
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="CSS3"
                                src="/images/css3logo.png" alt="CSS3">
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="jQuery"
                                src="/images/jquery_badge.png" alt="jQuery">
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="Bootstrap"
                                src="/images/bootstrap-solid.svg" alt="BootStrap">
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="Firebase"
                                src="/images/firebase_badge.png" alt="Firebase">
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="Materialize"
                                src="/images/materialize_badge.png" alt="Materialize">
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/Trivia.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title blue-text text-darken-2">Marvel Trivia</span>
                            <p>Trivia game made with jQuery, HTML and CSS.</p>
                        </div>
                        <div class="card-action">
                            <a href="https://heincm.github.io/TriviaGame/">Click here to view the project</a>
                            <br>
                            <br>
                            <a href="https://github.com/heincm/TriviaGame">Click here to view the Github
                                repository</a>
                        </div>
                        <div class="card-content">
                            <span class="card-title blue-text text-darken-2">Technologies Used</span>
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="HTML5"
                                src="/images/HTML5_Logo_512.png" alt="HTML5">
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="CSS3"
                                src="/images/css3logo.png" alt="CSS3">
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="jQuery"
                                src="/images/jquery_badge.png" alt="jQuery">
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="Bootstrap"
                                src="/images/bootstrap-solid.svg" alt="BootStrap">
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/Liri.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title blue-text text-darken-2">LIRI</span>
                            <p>A CLI app that makes API various API calls.</p>
                        </div>
                        <div class="card-action">
                            <a
                                href="https://drive.google.com/file/d/1iE29KVr3TUbnbvFSAdUO6Y-pVqNuKq5B/view?usp=sharing">Click
                                here to view the project</a>
                            <br>
                            <br>
                            <a href="https://github.com/heincm/LIRI">Click here to view the Github
                                repository</a>
                        </div>
                        <div class="card-content">
                            <span class="card-title blue-text text-darken-2">Technologies Used</span>
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="nodeJS"
                                src="/images/nodeJS.png" alt="nodeJS">
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/Storefront.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title blue-text text-darken-2">Storefront</span>
                            <p>A CLI storefront application that can be used to purchase, restock, and add inventory to
                                a SQL database.</p>
                        </div>
                        <div class="card-action">
                            <a
                                href="https://drive.google.com/file/d/1QBb4oLxEPZ4cPszPmb46h198Dy9-CY33/view?usp=sharing">Click
                                here to view the project</a>
                            <br>
                            <br>
                            <a href="https://github.com/heincm/storefront">Click here to view the Github
                                repository</a>
                        </div>
                        <div class="card-content">
                            <span class="card-title blue-text text-darken-2">Technologies Used</span>
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="nodeJS"
                                src="/images/nodeJS.png" alt="nodeJS">
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="MySQL"
                                src="/images/MySQL.png" alt="MySQL">
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/constructor-word-guess-2.gif">
                        </div>
                        <div class="card-content">
                            <span class="card-title blue-text text-darken-2">Constructor-Word-Guess-2</span>
                            <p>Build your own word guessing game by utilizing this npm project.</p>
                        </div>
                        <div class="card-action">
                            <a
                                href="https://drive.google.com/file/d/1QBb4oLxEPZ4cPszPmb46h198Dy9-CY33/view?usp=sharing">Click
                                here to view the project</a>
                            <br>
                            <br>
                            <a href="https://github.com/heincm/constructor-word-guess-2">Click here to view the Github
                                repository</a>
                        </div>
                        <div class="card-content">
                            <span class="card-title blue-text text-darken-2">Technologies Used</span>
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="nodeJS"
                                src="/images/nodeJS.png" alt="nodeJS">
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/burgerlogger.gif">
                        </div>
                        <div class="card-content">
                            <span class="card-title blue-text text-darken-2">Burgerlogger</span>
                            <p>Makes use of a server and handlebars as well as get, post, and put methods with a SQL
                                database and ORM.</p>
                        </div>
                        <div class="card-action">
                            <a href="https://burgerlogger1.herokuapp.com/">Click here to view the project</a>
                            <br>
                            <br>
                            <a href="https://github.com/heincm/burgerlogger">Click here to view the Github
                                repository</a>
                        </div>
                        <div class="card-content">
                            <span class="card-title blue-text text-darken-2">Technologies Used</span>
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="nodeJS"
                                src="/images/nodeJS.png" alt="nodeJS">
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="MySQL"
                                src="/images/MySQL.png" alt="MySQL">
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="Handlebars"
                                src="/images/handlebars.png" alt="Handlebars">
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="Expressjs"
                                src="/images/Expressjs.png" alt="Expressjs">
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/friendfinder.gif">
                        </div>
                        <div class="card-content">
                            <span class="card-title blue-text text-darken-2">Friendfinder</span>
                            <p>Use of an express, server and routing for a basic friend finding app.</p>
                        </div>
                        <div class="card-action">
                            <a href="https://shielded-coast-44459.herokuapp.com/">Click here to view the project</a>
                            <br>
                            <br>
                            <a href="https://github.com/heincm/friendfinder">Click here to view the Github
                                repository</a>
                        </div>
                        <div class="card-content">
                            <span class="card-title blue-text text-darken-2">Technologies Used</span>
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="nodeJS"
                                src="/images/nodeJS.png" alt="nodeJS">
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="Expressjs"
                                src="/images/Expressjs.png" alt="Expressjs">
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="HTML5"
                                src="/images/HTML5_Logo_512.png" alt="HTML5">
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="CSS3"
                                src="/images/css3logo.png" alt="CSS3">
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="BootStrap"
                                src="/images/bootstrap-solid.svg" alt="BootStrap">
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="jQuery"
                                src="/images/jquery_badge.png" alt="jQuery">
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/gameplay.gif">
                        </div>
                        <div class="card-content">
                            <span class="card-title blue-text text-darken-2">React Clicky Game</span>
                            <p>An Avengers-themed clicky game project made with React.</p>
                        </div>
                        <div class="card-action">
                            <a href="https://heincm.github.io/react-game/">Click here to view the project</a>
                            <br>
                            <br>
                            <a href="https://github.com/heincm/react-game">Click here to view the Github
                                repository</a>
                        </div>
                        <div class="card-content">
                            <span class="card-title blue-text text-darken-2">Technologies Used</span>
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="nodeJS"
                                src="/images/nodeJS.png" alt="nodeJS">
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="React"
                                src="/images/react.svg" alt="React">
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="Bootstrap"
                                src="/images/bootstrap-solid.svg" alt="BootStrap">
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/streetride.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title blue-text text-darken-2">StreetRide</span>
                            <p>A mobile application designed to provide information for individuals getting around via
                                bicycle, scooter, on foot, in a wheelchair, or any other alternative transportation
                                method.</p>
                        </div>
                        <div class="card-action">
                            <a href="https://itunes.apple.com/us/app/streetride/id1461678165?mt=8">Click here to download from the App Store</a>
                            <br>
                            <br>
                            <a href="https://play.google.com/store/apps/details?id=com.saferiderz.streetride&hl=en_US">Click here to download from Google Play</a>
                        </div>
                        <div class="card-content">
                            <span class="card-title blue-text text-darken-2">Technologies Used</span>
                            <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="React Native"
                                src="/images/ReactNative.png" alt="React Native">
                                <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="nodeJS"
                                src="/images/nodeJS.png" alt="nodeJS">
                                <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="Expressjs"
                                src="/images/Expressjs.png" alt="Expressjs">
                                <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="MySQL"
                                src="/images/MySQL.png" alt="MySQL">
                                <img class="miniLogo tooltipped" data-position="bottom" data-tooltip="Sequelize"
                                src="/images/Sequelize logo.png" alt="Sequelize">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="page-footer footer">
        <div class="container">
            <div class="row">
                <div class="col m6 s12">
                    <p>Want to know more? Feel free to connect with me on LinkedIn.</p>
                </div>
                <div class="col m6 s12">
                    <div class="right LI-profile-badge" data-version="v1" data-size="small" data-locale="en_US"
                        data-type="horizontal" data-theme="dark" data-vanity="heincm"><a class="LI-simple-link"
                            href='https://www.linkedin.com/in/heincm?trk=profile-badge'>Chris
                            Hein</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center">
                © 2019 Chris Hein
            </div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/javascript/javascript.js"></script>
</body>

</html>