#me {
  float: left;
  margin-right: 1.5em;
  margin-top: 1.5em;
  max-width: 200px;
}

.logo {
  max-width: 200px;
  height: auto;
  margin-right: 2em;
  margin-bottom: 1.5em;
}

.card {
  min-height: 750px
}

.miniLogo {
  max-width: 45px;
  height: auto;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav ul a,
nav .brand-logo {
  color: rgb(255, 255, 255);
}

.nav, .footer{
    background-color: rgb(2,119,181);
  }

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#mainHeader{
  color: rgb(2,119,181);
}